.grid-areas-dashboard {
  display: grid;
  grid-template-areas:
    "sidebar header header"
    "sidebar main main";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr auto;
  height: 100vh;
}

.grid-in-header {
  grid-area: header;
  background-color: blueviolet;
}

.grid-in-sidebar {
  grid-area: sidebar;
  background-color: rgb(158, 222, 135);
}

.grid-in-main {
  grid-area: main;
  overflow: auto;
}

.grid-in-formToolbox {
  grid-area: formToolbox;
  background-color: rgb(255, 204, 128);
}
