.grid-areas-dashboard {
  display: grid;
  grid-template-areas:
    "navbar navbar navbar"
    "sidebar main main";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr auto;
  height: 100vh;
  width: 100vw;
}

.grid-in-navbar {
  grid-area: navbar;
  background-color: blueviolet;
}

.grid-in-sidebar {
  grid-area: sidebar;
  background-color: rgb(158, 222, 135);
}

.grid-in-main {
  grid-area: main;
  overflow: auto;

  padding: 1rem;
}
