.grid-areas-dashboard {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.grid-in-header {
  grid-area: header;
  background-color: blueviolet;
}

.grid-in-sidebar {
  grid-area: sidebar;
  background-color: rgb(158, 222, 135);
}

.grid-in-main {
  grid-area: main;
  overflow: auto;
}
